What will we do with a drunken sailor?
What will we do with a drunken sailor?
What will we do with a drunken sailor?
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

Shave his belly with a rusty razor
Shave his belly with a rusty razor
Shave his belly with a rusty razor
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

Put him in a long boat 'til he's sober
Put him in a long boat 'til he's sober
Put him in a long boat 'til he's sober
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

Stick him in the scupper with a hosepipe on him
Stick him in the scupper with a hosepipe on him
Stick him in the scupper with a hosepipe on him
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

Put him in the bed with the captain's daughter
Put him in the bed with the captain's daughter
Put him in the bed with the captain's daughter
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

That's what we do with a drunken sailor
That's what we do with a drunken sailor
That's what we do with a drunken sailor
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'

Way hay and up she rises
Way hay and up she rises
Way hay and up she rises
Early in the mornin'
