<?php

$wgDBadminpassword = "blablablabla";
$wgDBpassword = "blablablabla";

$wmgRedisPassword = "blablablabla";

$wmgSMTPPassword = "blablablabla";

$wgUpgradeKey = "blablablabla";
$wgSecretKey = "blablablabla";

$wgReCaptchaSiteKey = "blablablabla";
$wgReCaptchaSecretKey = "blablablabla";
