<?php

$wgDBadminpassword = "blablablabla";
$wgDBpassword = "blablablabla";

$wmgRedisPassword = "blablablabla";

$wmgSMTPPassword = "blablablabla";

$wgUpgradeKey = "blablablabla";
$wgSecretKey = "blablablabla";

$ReCaptchaSiteKey = "blablablabla";
$ReCaptchaSecretKey = "blablablabla";
