[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Production MediaWiki configuration
[access "refs/*"]
	owner = group user/paladox
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/paladox
	label-Verified = -1..+1 group user/paladox
	push = group user/paladox
	read = group user/paladox
	rebase = group user/paladox
	removeReviewer = group user/paladox
	submit = group user/paladox
[access "refs/heads/*"]
	create = group user/paladox
	push = +force group user/paladox
	pushMerge = group user/paladox
	read = group user/paladox
[access "refs/tags/*"]
	push = group user/paladox
	push = +force group user/paladox
