on: 
  create:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.3']
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: PHP ${{ matrix.php }} 
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }} 
      - uses: lewagon/wait-on-check-action@master
        with:
          ref: test
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 5
      - name: Run tests
        run: |
          bash phplint.sh
  notify-irc:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: success
      - uses: technote-space/workflow-conclusion-action@v2
      - uses: rectalogic/notify-irc@v1
        if: env.WORKFLOW_CONCLUSION == 'success'
        with:
          channel: "#mediawiki-cosmos"
          nickname: miraheze-github
          message: ${{ github.repository }} - ${{ github.actor }} The build passed.
      - name: failure
        uses: technote-space/workflow-conclusion-action@v2
      - uses: rectalogic/notify-irc@v1
        if: env.WORKFLOW_CONCLUSION == 'failure'
        with:
          channel: "#mediawiki-cosmos"
          nickname: miraheze-github
          message: ${{ github.repository }} - ${{ github.actor }} the build has errored.
      - name: cancelled
        uses: technote-space/workflow-conclusion-action@v2
      - uses: rectalogic/notify-irc@v1
        if: env.WORKFLOW_CONCLUSION == 'cancelled'
        with:
          channel: "#mediawiki-cosmos"
          nickname: miraheze-github
          message: ${{ github.repository }} - ${{ github.actor }} the build has been cancelled.

